/* 
==========================================================================
h(n)
========================================================================== 
*/

h1 {

}

h2 {

}
	
h3 {

}
   

/* 
==========================================================================
Wrapper
========================================================================== 
*/
   
.wrapper {

}


/* 
==========================================================================
parts/banner.php
========================================================================== 
*/
   
.banner {

}

.brand {

}


/* 
==========================================================================
parts/main.php + assets/
========================================================================== 
*/
   
   
.main {

}

.assets {

}
	
.front {

}

.page {

}
	
.single {

}

.search-results {

}

.archives {

}

.categories {

}
	
.not-found {

}

.article {

}
	
[class^="datetime-"] {

}


/* 
==========================================================================
parts/complementary
========================================================================== 
*/


.complementary {

}


/* 
==========================================================================
parts/contentinfo
========================================================================== 
*/


.contentinfo {

}

.copyright {

}


/* 
==========================================================================
shared/content-nav
========================================================================== 
*/
   
   
.content-nav {

}
	
.previous {

}

.next {

}

/* 
==========================================================================
shared/list-categories
========================================================================== 
*/


.list-categories {

}


/* 
==========================================================================
shared/list-archives
========================================================================== 
*/


.list-archives {

}	

/* 
==========================================================================
Helpers
========================================================================== 
*/
   
   
/*
 * Credits where it's due: HTML5 Boilerplate.
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Credits where it's due: HTML5 Boilerplate.
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
